

body {
    background-color: gray;
}

h2 {
    text-align: center;
    color: Black;
}

h3 {
    background-color: lightslategray;
    color: darkblue;
    justify-self: center;
    align-content: center;
    text-align: center;
    
    max-width: 60%;
    height: 100px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
}

input[type="button"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}